<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>

<%= form_with(model: [@playlist, @song] , local: true ) do |form| %>
  <%= form.label :artist %>
  <%= form.text_field :artist %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit 'Create' %>
<% end %>

<ul>
<% @songs.each do |song|%>
  <li><%= song.name %> - <%= song.artist %> - <%= link_to 'Borrar', playlist_song_path(@playlist, song), method: :delete, data: { confirm: 'Are you sure?' }%></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
